.aside-contact-wrapper .contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.aside-contact-wrapper {
  width: 15%;  
  border-top: 1px solid $color-secundary;  
  justify-content: space-between;  
  background-color: $color-secundary;
}
.contact-container {
  padding: 30px 0px;
  width: 100%;
  height: calc(120px - 35px);
  justify-content: center;
  position: relative;
  

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  span {
    text-align: center;
  }

}

.contact-jonathan {
  background-color: $color-primary;
  
}