$color-primary: #fdfdfe;
$color-secundary: #e0dadd;
$color-chat: #6f7399;


$font-sans: 'Roboto', sans-serif;
$font-size-primary: 16px;
$font-size-h3: 20px;

$size-icons-medium: 20px;
$size-icons-small: 12px;
$size-icons-large: 40px;
$circle-green:#44cc00;
$circle-red: #ff3333;

