body {
  margin: 0;
}

.wrapper {
  display:flex;
  height: 845px;
  font-family: $font-sans; 
  font-size: $font-size-primary; 
}

.main-footer-container {
  width: 60%;
}

.main-wrapper {  
  padding: 30px;
  border: 1px solid $color-secundary;  
}
